<h1>Your Dashboard</h1>

<h2>Packaged:</h2>
<% @orders.packaged.each do |order| %>
  <p>Name: <%= order.name %></p>
  <p>Order Id: <%= order.id%></p>
  <p>Created At: <%= order.created_at %></p>
  <%= link_to "Ship Order", "/admin/dashboard?id=#{order.id}", method: :patch %>
<% end %>

<h2>Pending:</h2>
<% @orders.pending.each do |order| %>
  <p>Name: <%= order.name %></p>
  <p>Order Id: <%= order.id%></p>
  <p>Created At: <%= order.created_at %></p>
<% end %>

<h2>Shipped:</h2>
<% @orders.shipped.each do |order| %>
  <p>Name: <%= order.name %></p>
  <p>Order Id: <%= order.id%></p>
  <p>Created At: <%= order.created_at %></p>
<% end %>

<h2>Cancelled:</h2>
<% @orders.cancelled.each do |order| %>
  <p>Name: <%= order.name %></p>
  <p>Order Id: <%= order.id%></p>
  <p>Created At: <%= order.created_at %></p>
<% end %>
