<h1>Your Orders</h1>

<% @user.orders.each do |order| %>
  <h3>Order Status: <%= order.status %></h3>
  <h3>Shipping Info</h3>
  <p>Name:<%= order.name %></p>
  <p>Address: <%= order.address %></p>
  <p>City: <%= order.city %></p>
  <p>State: <%= order.state %></p>
  <p>Zip: <%= order.zip %></p>

  <% order.items.each do |item| %>
    <p><%= item.name %></p>
  <% end %>

  <p>Grand Total: <%= order.grandtotal %></p>
<% end %>
