<h1>New User Registration</h1>

<%= form_tag '/register' do %>
  <%= label_tag "Name" %>
  <%= text_field_tag :name, @user[:name] %>
  <%= label_tag "Address" %>
  <%= text_field_tag :address, @user[:address] %>
  <%= label_tag "City" %>
  <%= text_field_tag :city, @user[:city] %>
  <%= label_tag "State" %>
  <%= text_field_tag :state, @user[:state] %>
  <%= label_tag "Zip" %>
  <%= text_field_tag :zip, @user[:zip] %>
  <%= label_tag "E-mail" %>
  <%= text_field_tag :email, @user[:email] %>
  <%= label_tag "Password" %>
  <%= password_field_tag :password %>
  <%= label_tag "Confirm Password" %>
  <%= password_field_tag :c_password %>
  <%= submit_tag "Submit" %>
<% end %>
