<h1>Create a New Bulk Discount</h1>

<center>
<%= form_tag "/merchant/discounts" do %>
  <%= label_tag "Percent Discount" %>
  <%= text_field_tag :percent, @user_input[:percent] %>
  <%= label_tag "Minimum Required Quantity" %>
  <%= text_field_tag :quantity, @user_input[:quantity] %>
  <%= submit_tag "Submit" %>
<% end %>
</center>
